<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Deteksi Ekspresi Wajah</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1>Deteksi Ekspresi Wajah</h1>
    <video id="video" width="48" autoplay></video>
    <br />
    <button onclick="capture()">Deteksi Ekspresi</button>
    <canvas id="canvas" width="300" height="225" style="display: none"></canvas>
    <p id="result"></p>

    <script src="../static/script.js"></script>
  </body>
</html>
